* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #070705;
  color: white;
  padding: 0 2rem;
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 30px;
  width: 500px;
  height: 60px;
  z-index: 1;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid rgb(56, 53, 48);
  border-radius: 1px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(218, 197, 167, 0.05);
}
.intro nav .logo img {
  width: 60px;
  cursor: pointer;
}
.intro nav .navList {
  display: flex;
  flex-direction: row;
  font-family: "Satoshi", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 16px;
  gap: 15px;
  color: rgb(218, 197, 167);
}
.intro nav .navList span {
  cursor: pointer;
  position: relative;
}
.intro nav .navList .span::before {
  content: "";
  background-color: rgb(218, 197, 167);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -4px;
  display: none;
}
.intro nav .navList .span:hover::before {
  animation: underline 0.5s ease-in-out 1;
  display: block;
}
@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.intro nav button {
  background-color: rgb(218, 197, 167);
  color: rgb(29, 30, 31);
  border: none;
  font-family: "Satoshi", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 2px;
  padding: 8px 16px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.intro nav button:hover {
  background-color: rgb(179, 161, 136);
}
.intro .userImg {
  padding-top: 40px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.intro .userImg .fade-img {
  display: block;
  width: 100%;
  -webkit-mask-image: linear-gradient(to right, black 70%, transparent 100%), linear-gradient(to bottom, black 85%, transparent 100%), linear-gradient(to right bottom, black 58%, transparent 100%), linear-gradient(to left, black 78%, transparent 100%);
          mask-image: linear-gradient(to right, black 70%, transparent 100%), linear-gradient(to bottom, black 85%, transparent 100%), linear-gradient(to right bottom, black 58%, transparent 100%), linear-gradient(to left, black 78%, transparent 100%);
  -webkit-mask-composite: source-in, xor;
          mask-composite: intersect;
}
.intro .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.intro .about h1 {
  font-family: "Satoshi", sans-serif;
  font-weight: 100;
  font-size: 128px;
  line-height: 122px;
  text-align: center;
  color: rgb(218, 197, 167);
}
.intro .about h1 span {
  font-family: "Gambetta", serif;
}
.intro .about p {
  font-family: "Chillax", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 33px;
  color: rgb(218, 197, 167);
  width: 40vw;
}
.intro .servicesBtn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.intro .servicesBtn #svg {
  padding: 10px;
  border: 1px solid #34312c;
  border-radius: 50%;
  background-color: #181716;
  text-align: center;
  display: flex;
  transition: all 0.3s ease-in-out;
}
.intro .servicesBtn span {
  padding-left: 10px;
  font-family: "Satoshi", "sans-serif";
  font-size: 13px;
  line-height: 16px;
  color: rgb(218, 197, 167);
  word-spacing: 2px;
  letter-spacing: 2px;
}
.intro .servicesBtn:hover #svg {
  border: 0.1px solid rgb(101, 93, 82);
  background-color: #2b2825;
}

.marquee {
  padding: 100px 50px 80px 50px;
}
.marquee #marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.marquee #marquee .logos-wrapper {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: marquee 14s linear infinite;
}
.marquee #marquee .logos {
  display: flex;
  gap: 2rem;
  padding: 0 1.5rem;
}
.marquee #marquee .logos p {
  width: 200px;
}
.marquee #marquee .logos .two {
  width: 306px;
}
.marquee #marquee .logos .three,
.marquee #marquee .logos .four {
  zoom: 1.2;
}
.marquee #marquee .logos .logo1 {
  width: 247px;
  margin-left: 48px;
}
.marquee #marquee .logos .logo2 {
  margin-left: 62px;
}
.marquee #marquee .logos .logo5 {
  width: 100px;
  margin-top: 10px;
  margin-left: 80px;
}
.marquee #marquee .logos .logo6 {
  width: 86px;
  margin-left: 116px;
  height: 50px;
}
.marquee #marquee .logos .logo7 {
  width: 150px;
  margin-top: 8px;
  margin-left: 70px;
}
.marquee #marquee::after, .marquee #marquee::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 30%;
  z-index: 1;
}
.marquee #marquee::after {
  left: 0;
  background-image: linear-gradient(to right, #070705, transparent);
}
.marquee #marquee::before {
  right: 0;
  background-image: linear-gradient(to left, #070705, transparent);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.cards {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.cards .webCard,
.cards .devCard,
.cards .contentCard {
  padding: 30px;
  width: 27rem;
  max-height: 18rem;
  background-color: rgb(24, 23, 22);
  border: 1px solid rgb(52, 50, 48);
  position: relative;
}
.cards .webCard .first-p,
.cards .devCard .first-p,
.cards .contentCard .first-p {
  color: rgba(218, 197, 167, 0.6);
  font-family: "Satoshi", sans-serif;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 5px;
}
.cards .webCard h2,
.cards .devCard h2,
.cards .contentCard h2 {
  font-family: "Satoshi", sans-serif;
  font-weight: lighter;
  font-size: 24px;
  line-height: 31px;
  color: rgb(218, 197, 167);
  padding-bottom: 10px;
}
.cards .webCard p,
.cards .devCard p,
.cards .contentCard p {
  font-family: "Chillax", sans-serif;
  font-size: 17px;
  word-spacing: 1.5px;
  line-height: 26px;
  color: #c5b398;
}
.cards .webCard .servicesBtn,
.cards .devCard .servicesBtn,
.cards .contentCard .servicesBtn {
  display: flex;
  position: absolute;
  margin-top: 17px;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  bottom: 20px;
}
.cards .webCard .servicesBtn #svg,
.cards .devCard .servicesBtn #svg,
.cards .contentCard .servicesBtn #svg {
  padding: 5px;
  border: 1px solid #34312c;
  border-radius: 50%;
  background-color: #181716;
  text-align: center;
  display: flex;
  transition: all 0.3s ease-in-out;
  rotate: 225deg;
}
.cards .webCard .servicesBtn span,
.cards .devCard .servicesBtn span,
.cards .contentCard .servicesBtn span {
  padding-left: 4px;
  font-family: "Satoshi", "sans-serif";
  font-size: 13px;
  line-height: 16px;
  color: rgb(218, 197, 167);
  word-spacing: 2px;
  letter-spacing: 2px;
}
.cards .webCard .servicesBtn:hover #svg,
.cards .devCard .servicesBtn:hover #svg,
.cards .contentCard .servicesBtn:hover #svg {
  border: 0.1px solid rgb(101, 93, 82);
  background-color: #2b2825;
  rotate: 270deg;
}
.cards .webCard {
  grid-area: a;
}
.cards .devCard {
  grid-area: b;
}
.cards .contentCard {
  grid-area: c;
}

.head-selected-work {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Satoshi", "san-serif";
  color: rgb(218, 197, 167);
  padding: 0 1rem;
  padding-bottom: 1.5rem;
}
.head-selected-work h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 48px;
}
.head-selected-work .servicesBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.head-selected-work .servicesBtn #svg {
  padding: 5px;
  border: 1px solid #34312c;
  border-radius: 50%;
  background-color: #181716;
  text-align: center;
  display: flex;
  transition: all 0.3s ease-in-out;
  rotate: 225deg;
}
.head-selected-work .servicesBtn span {
  padding-left: 4px;
  font-family: "Satoshi", "sans-serif";
  font-size: 13px;
  line-height: 16px;
  color: rgb(218, 197, 167);
  word-spacing: 2px;
  letter-spacing: 2px;
}
.head-selected-work .servicesBtn:hover #svg {
  border: 0.1px solid rgb(101, 93, 82);
  background-color: #2b2825;
  rotate: 270deg;
}

.selected-work {
  max-width: 1360px;
  margin: 0 auto;
}
.selected-work .portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.selected-work .portfolio-item {
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(48, 43, 34);
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.selected-work .portfolio-item .arrow-svg {
  padding: 10px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid #34312c;
  border-radius: 50%;
  background-color: #181716;
  text-align: center;
  display: flex;
  transition: all 0.5s ease-in-out;
  rotate: 270deg;
  opacity: 0;
}
.selected-work .portfolio-item:hover .arrow-svg {
  border: 0.1px solid rgb(101, 93, 82);
  background-color: #2b2825;
  rotate: 225deg;
  opacity: 1;
}
.selected-work .portfolio-item img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
}
.selected-work .portfolio-item:hover img {
  transform: scale(1.05);
}
.selected-work .overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  max-width: 624px;
  padding: 0.8rem 1rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 1px solid rgb(48, 43, 34);
  border-radius: 3px;
  color: #e0d2b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Satoshi", "san-serif";
}
.selected-work .overlay .title {
  font-weight: 100;
  font-size: 24px;
  line-height: 31px;
}
.selected-work .overlay .tag {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2px;
}

.web-process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(218, 197, 167);
  padding-top: 160px;
  gap: 16px;
}
.web-process span {
  font-family: "Satoshi", "san-serif";
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}
.web-process h1 {
  font-family: "Satoshi", "san-serif";
  font-size: 96px;
  font-weight: 100;
  line-height: 106px;
  text-align: center;
}
.web-process h1 span {
  font-family: "Gambetta", serif;
  font-size: 96px;
  font-weight: 100;
  line-height: 106px;
}
.web-process p {
  font-family: "chillax", serif;
  font-size: 20px;
  line-height: 32px;
  max-width: 500px;
  text-align: center;
}
.web-process .center-line {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.web-process .center-line #svg {
  padding: 10px;
  border: 1px solid #34312c;
  border-radius: 50%;
  background-color: #181716;
  text-align: center;
  display: flex;
}
.web-process .center-line .line {
  background-color: rgb(44, 41, 37);
  width: 1px;
  height: 60px;
}

.web-process-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  padding-bottom: 100px;
  max-width: 1360px;
  margin: 0 auto;
}
.web-process-2 .steps {
  display: grid;
  gap: 80px;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
}
.web-process-2 .steps .step1-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.web-process-2 .steps .step1-part2 .number {
  color: rgb(218, 197, 167);
  background-color: rgb(24, 23, 22);
  border: 1px solid rgb(44, 41, 37);
  border-radius: 50%;
  padding: 10px;
  font-family: "Satoshi", "san-serif";
  font-size: 13px;
  letter-spacing: 2px;
  text-align: center;
  display: flex;
}
.web-process-2 .steps .step1-part2 .line-1 {
  background-color: rgb(44, 41, 37);
  width: 1px;
  height: 180px;
}
.web-process-2 .steps .step1-part2 .line-2 {
  background-color: rgb(44, 41, 37);
  width: 1px;
  height: 180px;
}
.web-process-2 .steps .step1-part2 #line-5-1 {
  height: 230px;
}
.web-process-2 .steps .step1-part2 #line-5-2 {
  background-color: rgb(7, 7, 5);
}
.web-process-2 .steps .step1-part3 .step-card,
.web-process-2 .steps .step2-part1 .step-card,
.web-process-2 .steps .step3-part3 .step-card,
.web-process-2 .steps .step4-part1 .step-card,
.web-process-2 .steps .step5-part3 .step-card {
  display: flex;
  flex-direction: column;
  background-color: #181716;
  border: 1px solid rgb(44, 41, 37);
  border-radius: 3px;
  color: rgb(218, 197, 167);
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  padding: 48px;
  position: relative;
}
.web-process-2 .steps .step1-part3 .step-card #p-1,
.web-process-2 .steps .step2-part1 .step-card #p-1,
.web-process-2 .steps .step3-part3 .step-card #p-1,
.web-process-2 .steps .step4-part1 .step-card #p-1,
.web-process-2 .steps .step5-part3 .step-card #p-1 {
  font-family: "satoshi", "san-serif";
  font-size: 13px;
  line-height: 16px;
  color: rgba(218, 197, 167, 0.6);
  letter-spacing: 1.4px;
  padding-bottom: 4px;
}
.web-process-2 .steps .step1-part3 .step-card h2,
.web-process-2 .steps .step2-part1 .step-card h2,
.web-process-2 .steps .step3-part3 .step-card h2,
.web-process-2 .steps .step4-part1 .step-card h2,
.web-process-2 .steps .step5-part3 .step-card h2 {
  font-family: "satoshi", "san-serif";
  font-size: 24px;
  line-height: 31px;
  font-weight: 100;
  padding-bottom: 12px;
  letter-spacing: 2px;
}
.web-process-2 .steps .step1-part3 .step-card li::marker,
.web-process-2 .steps .step2-part1 .step-card li::marker,
.web-process-2 .steps .step3-part3 .step-card li::marker,
.web-process-2 .steps .step4-part1 .step-card li::marker,
.web-process-2 .steps .step5-part3 .step-card li::marker {
  color: rgb(218, 197, 167);
}
.web-process-2 .steps .step1-part3 .step-card #p-2,
.web-process-2 .steps .step2-part1 .step-card #p-2,
.web-process-2 .steps .step3-part3 .step-card #p-2,
.web-process-2 .steps .step4-part1 .step-card #p-2,
.web-process-2 .steps .step5-part3 .step-card #p-2 {
  padding-bottom: 20px;
  letter-spacing: 1.3px;
}
.web-process-2 .steps .step1-part3 .step-card ul,
.web-process-2 .steps .step2-part1 .step-card ul,
.web-process-2 .steps .step3-part3 .step-card ul,
.web-process-2 .steps .step4-part1 .step-card ul,
.web-process-2 .steps .step5-part3 .step-card ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 15px;
}
.web-process-2 .steps .step1-part3 .step-card #p-2,
.web-process-2 .steps .step1-part3 .step-card li,
.web-process-2 .steps .step2-part1 .step-card #p-2,
.web-process-2 .steps .step2-part1 .step-card li,
.web-process-2 .steps .step3-part3 .step-card #p-2,
.web-process-2 .steps .step3-part3 .step-card li,
.web-process-2 .steps .step4-part1 .step-card #p-2,
.web-process-2 .steps .step4-part1 .step-card li,
.web-process-2 .steps .step5-part3 .step-card #p-2,
.web-process-2 .steps .step5-part3 .step-card li {
  font-family: "chillax", "san-serif";
  font-size: 16px;
  color: rgb(218, 197, 167);
  line-height: 26px;
}
.web-process-2 .steps .step1-part3 .step-card .step1-part4,
.web-process-2 .steps .step2-part1 .step-card .step1-part4,
.web-process-2 .steps .step3-part3 .step-card .step1-part4,
.web-process-2 .steps .step4-part1 .step-card .step1-part4,
.web-process-2 .steps .step5-part3 .step-card .step1-part4 {
  font-family: "satoshi", "san-serif";
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  letter-spacing: 2px;
  padding: 7px 9px;
  top: 20px;
  right: 20px;
  border: 1.7px solid rgb(44, 41, 37);
  border-radius: 3px;
  background-color: #22201e;
}

.reviews-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.reviews-head h1 {
  font-family: "Satoshi", sans-serif;
  font-weight: 100;
  font-size: 96px;
  line-height: 106px;
  text-align: center;
  color: rgb(218, 197, 167);
}
.reviews-head h1 span {
  font-family: "Gambetta", serif;
}
.reviews-head p {
  font-family: "chillax", sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: rgb(218, 197, 167);
  text-align: center;
  margin: auto;
  width: 34vw;
  padding-top: 13px;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 4rem;
}
.reviews .review-card {
  background-color: rgb(24, 23, 22);
  color: rgb(218, 197, 167);
  border: 1.5px solid rgb(44, 41, 37);
  border-radius: 4px;
  height: -moz-min-content;
  height: min-content;
  padding: 48px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviews .review-card .card-logo {
  padding-bottom: 30px;
}
.reviews .review-card .card-logo img {
  width: 35px;
}
.reviews .review-card h2 {
  font-family: "satoshi", "san-serif";
  font-size: 24px;
  line-height: 31px;
  font-weight: 100;
  padding-bottom: 10px;
}
.reviews .review-card p {
  font-family: "chillax", "san-serif";
  font-size: 16px;
  line-height: 26px;
  font-weight: 100;
}
.reviews .review-card .about-reviewer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}
.reviews .review-card .about-reviewer .userimg img {
  border: none;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 60px;
}
.reviews .review-card .about-reviewer .about-user {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.reviews .review-card .about-reviewer .about-user .user-name {
  font-family: "satoshi", "san-serif";
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
.reviews .review-card .about-reviewer .about-user .user-comp {
  font-family: "chillax", "san-serif";
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}
.reviews #rev-card2 .card-logo img {
  width: 25px;
}
.reviews #rev-card3 {
  margin-top: -23px;
}
.reviews #rev-card3 .card-logo img {
  width: 100px;
}
.reviews #rev-card4 .card-logo img {
  width: 100px;
}
.reviews #rev-card5 {
  margin-top: -23px;
}
.reviews #rev-card5 .card-logo img {
  width: 50px;
}
.reviews #rev-card6 .card-logo img {
  width: 60px;
}

.moving-name {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
  overflow-x: hidden;
  margin: 0 -4rem;
  gap: 32px;
  position: relative;
}
.moving-name h1 {
  font-family: "Gambetta", "san-serif";
  font-size: 144px;
  line-height: 137px;
  font-weight: 100;
  color: rgb(218, 197, 167);
  position: absolute;
  opacity: 0.3;
  transition: all 2s ease;
}
.moving-name h1 span {
  font-family: "system-ui";
  font-weight: 100;
}
.moving-name #fade-img {
  display: block;
  width: 500px;
  -webkit-mask-image: linear-gradient(to right, black 70%, transparent 100%), linear-gradient(to bottom, black 85%, transparent 100%), linear-gradient(to right bottom, black 58%, transparent 100%), linear-gradient(to top, black 58%, transparent 100%), linear-gradient(to left, black 78%, transparent 100%);
          mask-image: linear-gradient(to right, black 70%, transparent 100%), linear-gradient(to bottom, black 85%, transparent 100%), linear-gradient(to right bottom, black 58%, transparent 100%), linear-gradient(to top, black 58%, transparent 100%), linear-gradient(to left, black 78%, transparent 100%);
  -webkit-mask-composite: source-in, xor;
          mask-composite: intersect;
}
.moving-name #h1-1 {
  left: -300px;
}
.moving-name #h1-2 {
  right: -300px;
}

.view-11 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 4rem;
  color: rgb(218, 197, 167);
  padding-top: 150px;
}
.view-11 .frame-1 p {
  font-family: "satoshi", "san-serif";
  font-size: 48px;
  line-height: 60px;
  font-weight: 100;
}
.view-11 .frame-1 p span {
  font-family: "Gambetta", "san-serif";
  font-size: 48px;
  line-height: 48px;
  font-weight: 100;
  letter-spacing: 1.5px;
}
.view-11 .frame-2 p {
  font-family: "chillax", "san-serif";
  font-size: 18px;
  line-height: 29px;
  font-weight: 100;
}

.marquee-2 {
  padding: 100px 0 0 0;
  margin: 0 -4rem;
  overflow: hidden;
  position: relative;
  width: 99vw;
}
.marquee-2 .marquee-texts {
  overflow: hidden;
  position: relative;
}
.marquee-2 .marquee-texts .texts {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: marquee2 22s linear infinite;
  will-change: scroll-position;
  background-color: rgb(34, 32, 31);
  border: 1px solid rgb(44, 41, 37);
  padding: 15px 0;
}
.marquee-2 .marquee-texts .texts-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1.5rem;
}
.marquee-2 .marquee-texts .texts-1 p {
  font-family: "Satoshi", "san-serif";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: rgb(218, 197, 167);
}

@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(218, 197, 167);
  background-color: rgb(24, 23, 22);
  width: 99vw;
  margin: 0 -4rem;
  padding-top: 150px;
  gap: 20px;
}
.footer #f-p-1 {
  font-family: "satoshi", "san-serif";
  font-size: 13px;
  line-height: 16px;
}
.footer h1 {
  font-family: "satoshi", "san-serif";
  font-size: 128px;
  line-height: 141px;
  font-weight: 100;
  text-align: center;
}
.footer h1 span {
  font-family: "gambetta", "san-serif";
}
.footer #f-p-2 {
  font-family: "chillax", "san-serif";
  font-size: 20px;
  line-height: 32px;
  font-weight: 100;
  width: 30vw;
  text-align: center;
}
.footer button {
  font-family: "satoshi", "san-serif";
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  gap: 6px;
  align-items: center;
  background-color: #dac5a7;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}
.footer button svg {
  transition: all 0.4s ease;
  rotate: 225deg;
}
.footer button:hover svg {
  rotate: 270deg;
}

.footer-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  width: 99vw;
  margin: 0 -4rem;
  padding-top: 200px;
  padding-left: 40px;
  background-color: rgb(24, 23, 22);
  color: rgb(218, 197, 167);
}
.footer-2 #sec-head {
  font-family: "satoshi", "san-serif";
  font-size: 20px;
  line-height: 24px;
  font-weight: 100;
  padding-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.footer-2 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2px;
  gap: 20px;
  list-style-type: none;
}
.footer-2 ul li {
  font-family: "satoshi", "san-serif";
  font-size: 13px;
  line-height: 16px;
  color: #8d7f6d;
  transition: all 0.2s ease-in-out;
}
.footer-2 #sec-hand, .footer-2 li:hover {
  color: rgb(218, 197, 167);
  cursor: pointer;
}
.footer-2 .sec1 button {
  font-family: "satoshi", "san-serif";
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  gap: 6px;
  align-items: center;
  background-color: #dac5a7;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}
.footer-2 .sec1 button svg {
  transition: all 0.4s ease;
  rotate: 225deg;
}
.footer-2 .sec1 button:hover svg {
  rotate: 270deg;
}