* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #070705;
  color: white;
  padding: 0 2rem;
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 30px;
  width: 500px;
  height: 60px;
  z-index: 1;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid rgb(56, 53, 48);
  border-radius: 1px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(218, 197, 167, 0.05);
}
.intro nav .logo img {
  width: 60px;
  cursor: pointer;
}
.intro nav .navList {
  display: flex;
  flex-direction: row;
  font-family: "Satoshi", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 16px;
  gap: 15px;
  color: rgb(218, 197, 167);
}
.intro nav .navList span {
  cursor: pointer;
  position: relative;
}
.intro nav .navList .span::before {
  content: "";
  background-color: rgb(218, 197, 167);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -4px;
  display: none;
}
.intro nav .navList .span:hover::before {
  animation: underline 0.5s ease-in-out 1;
  display: block;
}
@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.intro nav button {
  background-color: rgb(218, 197, 167);
  color: rgb(29, 30, 31);
  border: none;
  font-family: "Satoshi", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 2px;
  padding: 8px 16px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.intro nav button:hover {
  background-color: rgb(179, 161, 136);
}
.intro .userImg {
  padding-top: 40px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.intro .userImg .fade-img {
  display: block;
  width: 100%;
  -webkit-mask-image: linear-gradient(to right, black 70%, transparent 100%), linear-gradient(to bottom, black 85%, transparent 100%), linear-gradient(to right bottom, black 58%, transparent 100%), linear-gradient(to left, black 78%, transparent 100%);
          mask-image: linear-gradient(to right, black 70%, transparent 100%), linear-gradient(to bottom, black 85%, transparent 100%), linear-gradient(to right bottom, black 58%, transparent 100%), linear-gradient(to left, black 78%, transparent 100%);
  -webkit-mask-composite: source-in, xor;
          mask-composite: intersect;
}
.intro .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.intro .about h1 {
  font-family: "Satoshi", sans-serif;
  font-weight: 100;
  font-size: 128px;
  line-height: 122px;
  text-align: center;
  color: rgb(218, 197, 167);
}
.intro .about h1 span {
  font-family: "Gambetta", serif;
}
.intro .about p {
  font-family: "Chillax", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 33px;
  color: rgb(218, 197, 167);
  width: 40vw;
}
.intro .servicesBtn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.intro .servicesBtn #svg {
  padding: 10px;
  border: 1px solid #34312c;
  border-radius: 50%;
  background-color: #181716;
  text-align: center;
  display: flex;
  transition: all 0.3s ease-in-out;
}
.intro .servicesBtn span {
  padding-left: 10px;
  font-family: "Satoshi", "sans-serif";
  font-size: 13px;
  line-height: 16px;
  color: rgb(218, 197, 167);
  word-spacing: 2px;
  letter-spacing: 2px;
}
.intro .servicesBtn:hover #svg {
  border: 0.1px solid rgb(101, 93, 82);
  background-color: #2b2825;
}

.marquee {
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
}
.marquee #marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.marquee #marquee .logos-wrapper {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: marquee 14s linear infinite;
}
.marquee #marquee .logos {
  display: flex;
  gap: 2rem;
  padding: 0 1.5rem;
}
.marquee #marquee .logos p {
  width: 200px;
}
.marquee #marquee .logos .two {
  width: 306px;
}
.marquee #marquee .logos .three,
.marquee #marquee .logos .four {
  zoom: 1.2;
}
.marquee #marquee::after, .marquee #marquee::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 30%;
  z-index: 1;
}
.marquee #marquee::after {
  left: 0;
  background-image: linear-gradient(to right, #070705, transparent);
}
.marquee #marquee::before {
  right: 0;
  background-image: linear-gradient(to left, #070705, transparent);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.cards {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.cards .webCard,
.cards .devCard,
.cards .contentCard {
  padding: 30px;
  width: 27rem;
  max-height: 18rem;
  background-color: rgb(24, 23, 22);
  border: 1px solid rgb(52, 50, 48);
  position: relative;
}
.cards .webCard .first-p,
.cards .devCard .first-p,
.cards .contentCard .first-p {
  color: rgba(218, 197, 167, 0.6);
  font-family: "Satoshi", sans-serif;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 5px;
}
.cards .webCard h2,
.cards .devCard h2,
.cards .contentCard h2 {
  font-family: "Satoshi", sans-serif;
  font-weight: lighter;
  font-size: 24px;
  line-height: 31px;
  color: rgb(218, 197, 167);
  padding-bottom: 10px;
}
.cards .webCard p,
.cards .devCard p,
.cards .contentCard p {
  font-family: "Chillax", sans-serif;
  font-size: 17px;
  word-spacing: 1.5px;
  line-height: 26px;
  color: #c5b398;
}
.cards .webCard .servicesBtn,
.cards .devCard .servicesBtn,
.cards .contentCard .servicesBtn {
  display: flex;
  position: absolute;
  margin-top: 17px;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  bottom: 20px;
}
.cards .webCard .servicesBtn #svg,
.cards .devCard .servicesBtn #svg,
.cards .contentCard .servicesBtn #svg {
  padding: 5px;
  border: 1px solid #34312c;
  border-radius: 50%;
  background-color: #181716;
  text-align: center;
  display: flex;
  transition: all 0.3s ease-in-out;
  rotate: 225deg;
}
.cards .webCard .servicesBtn span,
.cards .devCard .servicesBtn span,
.cards .contentCard .servicesBtn span {
  padding-left: 4px;
  font-family: "Satoshi", "sans-serif";
  font-size: 13px;
  line-height: 16px;
  color: rgb(218, 197, 167);
  word-spacing: 2px;
  letter-spacing: 2px;
}
.cards .webCard .servicesBtn:hover #svg,
.cards .devCard .servicesBtn:hover #svg,
.cards .contentCard .servicesBtn:hover #svg {
  border: 0.1px solid rgb(101, 93, 82);
  background-color: #2b2825;
  rotate: 270deg;
}
.cards .webCard {
  grid-area: a;
}
.cards .devCard {
  grid-area: b;
}
.cards .contentCard {
  grid-area: c;
}

.head-selected-work {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Satoshi", "san-serif";
  color: rgb(218, 197, 167);
  padding: 0 1rem;
  padding-bottom: 1.5rem;
}
.head-selected-work h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 48px;
}
.head-selected-work .servicesBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.head-selected-work .servicesBtn #svg {
  padding: 5px;
  border: 1px solid #34312c;
  border-radius: 50%;
  background-color: #181716;
  text-align: center;
  display: flex;
  transition: all 0.3s ease-in-out;
  rotate: 225deg;
}
.head-selected-work .servicesBtn span {
  padding-left: 4px;
  font-family: "Satoshi", "sans-serif";
  font-size: 13px;
  line-height: 16px;
  color: rgb(218, 197, 167);
  word-spacing: 2px;
  letter-spacing: 2px;
}
.head-selected-work .servicesBtn:hover #svg {
  border: 0.1px solid rgb(101, 93, 82);
  background-color: #2b2825;
  rotate: 270deg;
}

.portfolio-section {
  max-width: 1360px;
  margin: 0 auto;
}
.portfolio-section .portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.portfolio-section .portfolio-item {
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(48, 43, 34);
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.portfolio-section .portfolio-item .arrow-svg {
  padding: 10px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid #34312c;
  border-radius: 50%;
  background-color: #181716;
  text-align: center;
  display: flex;
  transition: all 0.5s ease-in-out;
  rotate: 270deg;
  opacity: 0;
}
.portfolio-section .portfolio-item:hover .arrow-svg {
  border: 0.1px solid rgb(101, 93, 82);
  background-color: #2b2825;
  rotate: 225deg;
  opacity: 1;
}
.portfolio-section .portfolio-item img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
}
.portfolio-section .portfolio-item:hover img {
  transform: scale(1.05);
}
.portfolio-section .overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  max-width: 624px;
  padding: 0.8rem 1rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 1px solid rgb(48, 43, 34);
  border-radius: 3px;
  color: #e0d2b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Satoshi", "san-serif";
}
.portfolio-section .overlay .title {
  font-weight: 100;
  font-size: 24px;
  line-height: 31px;
}
.portfolio-section .overlay .tag {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2px;
}