* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #070705;
  color: white;
  padding: 0 2rem;
  position: relative;
}

//Section - 1
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 30px;
    width: 500px;
    height: 60px;
    z-index: 1;
    padding-left: 20px;
    padding-right: 10px;
    border: 1px solid rgb(56 53 48);
    border-radius: 1px;
    backdrop-filter: blur(30px);
    background-color: rgb(218 197 167 / 5%);

    .logo {
      img {
        width: 60px;
        cursor: pointer;
      }
    }

    .navList {
      display: flex;
      flex-direction: row;
      font-family: 'Satoshi', sans-serif;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 16px;
      gap: 15px;
      color: rgb(218, 197, 167);

      span {
        cursor: pointer;
        position: relative;
      }

      .span::before {
        content: "";
        background-color: rgb(218, 197, 167);
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -4px;
        display: none;
      }

      .span:hover::before {
        animation: underline .5s ease-in-out 1;
        display: block;
      }
    }

    @keyframes underline {
      from {
        width: 0%;
      }

      to {
        width: 100%;
      }
    }

    button {
      background-color: rgb(218 197 167);
      color: rgb(29, 30, 31);
      border: none;
      font-family: 'Satoshi', sans-serif;
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      border-radius: 2px;
      padding: 8px 16px;
      letter-spacing: 2px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    button:hover {
      background-color: rgb(179, 161, 136);
    }
  }


  .userImg {
    padding-top: 40px;
    position: relative;
    width: fit-content;

    .fade-img {
      display: block;
      width: 100%;
      mask-image: linear-gradient(to right, black 70%, transparent 100%),
        linear-gradient(to bottom, black 85%, transparent 100%),
        linear-gradient(to right bottom, black 58%, transparent 100%),
        linear-gradient(to left, black 78%, transparent 100%);

      mask-composite: intersect;

    }
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    h1 {
      font-family: 'Satoshi', sans-serif;
      font-weight: 100;
      font-size: 128px;
      line-height: 122px;
      text-align: center;
      color: rgb(218, 197, 167);

      span {
        font-family: 'Gambetta', serif;
      }
    }

    p {
      font-family: 'Chillax', sans-serif;
      font-size: 22px;
      font-weight: 400;
      text-align: center;
      line-height: 33px;
      color: rgb(218, 197, 167);
      width: 40vw;
    }
  }

  .servicesBtn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    cursor: pointer;
    gap: 10px;

    #svg {
      padding: 10px;
      border: 1px solid #34312c;
      border-radius: 50%;
      background-color: #181716;
      text-align: center;
      display: flex;
      transition: all .3s ease-in-out;
    }

    span {
      padding-left: 10px;
      font-family: 'Satoshi', 'sans-serif';
      font-size: 13px;
      line-height: 16px;
      color: rgb(218, 197, 167);
      word-spacing: 2px;
      letter-spacing: 2px;
    }
  }

  .servicesBtn:hover {
    #svg {
      border: 0.1px solid rgb(101, 93, 82);
      background-color: #2b2825;
    }
  }
}

// Section-2
.marquee {
  padding: 100px 50px 80px 50px;

  #marquee {
    overflow: hidden;
    position: relative;
    width: 100%;

    .logos-wrapper {
      display: flex;
      width: max-content;
      animation: marquee 14s linear infinite;
    }

    .logos {
      display: flex;
      gap: 2rem;
      padding: 0 1.5rem;

      p {
        width: 200px;
      }

      .two {
        width: 306px;
      }

      .three,
      .four {
        zoom: 1.2;
      }

      .logo1 {
        width: 247px;
        margin-left: 48px;
      }

      .logo2 {
        margin-left: 62px;
      }

      .logo5 {
        width: 100px;
        margin-top: 10px;
        margin-left: 80px;
      }

      .logo6 {
        width: 86px;
        margin-left: 116px;
        height: 50px;
      }

      .logo7 {
        width: 150px;
        margin-top: 8px;
        margin-left: 70px;
      }


    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 30%;
      z-index: 1;
    }

    &::after {
      left: 0;
      background-image: linear-gradient(to right, #070705, transparent);
    }

    &::before {
      right: 0;
      background-image: linear-gradient(to left, #070705, transparent);
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

// Section-3
.cards {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  gap: 2rem;


  .webCard,
  .devCard,
  .contentCard {
    padding: 30px;
    width: 27rem;
    max-height: 18rem;
    background-color: rgb(24 23 22);
    border: 1px solid rgb(52 50 48);
    position: relative;

    .first-p {
      color: rgba(218, 197, 167, 0.6);
      font-family: "Satoshi", sans-serif;
      font-size: 13px;
      line-height: 16px;
      padding-bottom: 5px;
    }

    h2 {
      font-family: 'Satoshi', sans-serif;
      font-weight: lighter;
      font-size: 24px;
      line-height: 31px;
      color: rgb(218, 197, 167);
      padding-bottom: 10px;
    }

    p {
      font-family: 'Chillax', sans-serif;
      font-size: 17px;
      word-spacing: 1.5px;
      line-height: 26px;
      color: #c5b398;
    }

    .servicesBtn {
      display: flex;
      position: absolute;
      margin-top: 17px;
      align-items: center;
      cursor: pointer;
      gap: 10px;
      bottom: 20px;

      #svg {
        padding: 5px;
        border: 1px solid #34312c;
        border-radius: 50%;
        background-color: #181716;
        text-align: center;
        display: flex;
        transition: all .3s ease-in-out;
        rotate: 225deg;
      }

      span {
        padding-left: 4px;
        font-family: 'Satoshi', 'sans-serif';
        font-size: 13px;
        line-height: 16px;
        color: rgb(218, 197, 167);
        word-spacing: 2px;
        letter-spacing: 2px;
      }
    }

    .servicesBtn:hover {
      #svg {
        border: 0.1px solid rgb(101, 93, 82);
        background-color: #2b2825;
        rotate: 270deg;
      }
    }
  }

  .webCard {
    grid-area: a;
  }

  .devCard {
    grid-area: b;
  }

  .contentCard {
    grid-area: c;

  }
}

// Section-4
.head-selected-work {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Satoshi', 'san-serif';
  color: rgb(218, 197, 167);
  padding: 0 1rem;
  padding-bottom: 1.5rem;

  h1 {
    font-size: 40px;
    font-weight: 100;
    line-height: 48px;
  }

  .servicesBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;

    #svg {
      padding: 5px;
      border: 1px solid #34312c;
      border-radius: 50%;
      background-color: #181716;
      text-align: center;
      display: flex;
      transition: all .3s ease-in-out;
      rotate: 225deg;
    }

    span {
      padding-left: 4px;
      font-family: 'Satoshi', 'sans-serif';
      font-size: 13px;
      line-height: 16px;
      color: rgb(218, 197, 167);
      word-spacing: 2px;
      letter-spacing: 2px;
    }
  }

  .servicesBtn:hover {
    #svg {
      border: 0.1px solid rgb(101, 93, 82);
      background-color: #2b2825;
      rotate: 270deg;
    }
  }
}

// Section-5
.selected-work {
  max-width: 1360px;
  margin: 0 auto;

  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .portfolio-item {
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(48 43 34);
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    .arrow-svg {
      padding: 10px;
      position: absolute;
      bottom: 50%;
      left: 50%;
      border: 1px solid #34312c;
      border-radius: 50%;
      background-color: #181716;
      text-align: center;
      display: flex;
      transition: all .5s ease-in-out;
      rotate: 270deg;
      opacity: 0;
    }
  }

  .portfolio-item:hover {
    .arrow-svg {
      border: 0.1px solid rgb(101, 93, 82);
      background-color: #2b2825;
      rotate: 225deg;
      opacity: 1;
    }
  }

  .portfolio-item img {
    width: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  .portfolio-item:hover img {
    transform: scale(1.05);
  }

  .overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    max-width: 624px;
    padding: 0.8rem 1rem;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(48 43 34);
    border-radius: 3px;
    color: #e0d2b6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Satoshi', 'san-serif';

    .title {
      font-weight: 100;
      font-size: 24px;
      line-height: 31px;
    }

    .tag {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 2px;
    }
  }
}

// Section-6
.web-process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(218, 197, 167);
  padding-top: 160px;
  gap: 16px;

  span {
    font-family: 'Satoshi', 'san-serif';
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  h1 {
    font-family: 'Satoshi', 'san-serif';
    font-size: 96px;
    font-weight: 100;
    line-height: 106px;
    text-align: center;

    span {
      font-family: 'Gambetta', serif;
      font-size: 96px;
      font-weight: 100;
      line-height: 106px;
    }
  }

  p {
    font-family: 'chillax', serif;
    font-size: 20px;
    line-height: 32px;
    max-width: 500px;
    text-align: center;
  }

  .center-line {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    #svg {
      padding: 10px;
      border: 1px solid #34312c;
      border-radius: 50%;
      background-color: #181716;
      text-align: center;
      display: flex;
    }

    .line {
      background-color: rgb(44 41 37);
      width: 1px;
      height: 60px;
    }
  }

}

// Section-7
.web-process-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: min-content;
  padding-bottom: 100px;
  max-width: 1360px;
  margin: 0 auto;

  .steps {
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;

    .step1-part2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 16px;

      .number {
        color: rgb(218 197 167);
        background-color: rgb(24 23 22);
        border: 1px solid rgb(44 41 37);
        border-radius: 50%;
        padding: 10px;
        font-family: 'Satoshi', 'san-serif';
        font-size: 13px;
        letter-spacing: 2px;
        text-align: center;
        display: flex;
      }

      .line-1 {
        background-color: rgb(44 41 37);
        width: 1px;
        height: 180px;
      }

      .line-2 {
        background-color: rgb(44 41 37);
        width: 1px;
        height: 180px;
      }

      #line-5-1 {
        height: 230px;
      }

      #line-5-2 {
        background-color: rgb(7 7 5)
      }
    }

    .step1-part3,
    .step2-part1,
    .step3-part3,
    .step4-part1,
    .step5-part3 {
      .step-card {
        display: flex;
        flex-direction: column;
        background-color: #181716;
        border: 1px solid rgb(44 41 37);
        border-radius: 3px;
        color: rgb(218, 197, 167);
        height: min-content;
        width: 100%;
        padding: 48px;
        position: relative;

        #p-1 {
          font-family: 'satoshi', 'san-serif';
          font-size: 13px;
          line-height: 16px;
          color: rgba(218, 197, 167, 0.6);
          letter-spacing: 1.4px;
          padding-bottom: 4px;
        }

        h2 {
          font-family: 'satoshi', 'san-serif';
          font-size: 24px;
          line-height: 31px;
          font-weight: 100;
          padding-bottom: 12px;
          letter-spacing: 2px;
        }

        li::marker {
          color: rgb(218 197 167);
        }

        #p-2 {
          padding-bottom: 20px;
          letter-spacing: 1.3px;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding-left: 15px;
        }

        #p-2,
        li {
          font-family: 'chillax', 'san-serif';
          font-size: 16px;
          color: rgb(218 197 167);
          line-height: 26px;
        }

        .step1-part4 {
          font-family: 'satoshi', 'san-serif';
          font-size: 12px;
          line-height: 12px;
          position: absolute;
          width: max-content;
          letter-spacing: 2px;
          padding: 7px 9px;
          top: 20px;
          right: 20px;
          border: 1.7px solid rgb(44 41 37);
          border-radius: 3px;
          background-color: #22201e;
        }
      }
    }
  }
}

// Section-8
.reviews-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;

  h1 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 100;
    font-size: 96px;
    line-height: 106px;
    text-align: center;
    color: rgb(218, 197, 167);

    span {
      font-family: 'Gambetta', serif;
    }
  }

  p {
    font-family: 'chillax', sans-serif;
    font-size: 18px;
    line-height: 29px;
    color: rgb(218, 197, 167);
    text-align: center;
    margin: auto;
    width: 34vw;
    padding-top: 13px;
  }
}

// Section-9
.reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 4rem;

  .review-card {
    background-color: rgb(24 23 22);
    color: rgb(218 197 167);
    border: 1.5px solid rgb(44 41 37);
    border-radius: 4px;
    height: min-content;
    padding: 48px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .card-logo {
      padding-bottom: 30px;

      img {
        width: 35px;
      }
    }

    h2 {
      font-family: 'satoshi', 'san-serif';
      font-size: 24px;
      line-height: 31px;
      font-weight: 100;
      padding-bottom: 10px;
    }

    p {
      font-family: 'chillax', 'san-serif';
      font-size: 16px;
      line-height: 26px;
      font-weight: 100;
    }

    .about-reviewer {
      display: flex;
      align-items: center;
      gap: 20px;
      padding-top: 30px;

      .userimg {
        img {
          border: none;
          border-radius: 50%;
          object-fit: cover;
          width: 60px;
        }
      }

      .about-user {
        display: flex;
        flex-direction: column;
        gap: 1px;

        .user-name {
          font-family: 'satoshi', 'san-serif';
          font-size: 13px;
          line-height: 16px;
          font-weight: 400;
        }

        .user-comp {
          font-family: 'chillax', 'san-serif';
          font-size: 14px;
          line-height: 25px;
          font-weight: 400;
        }
      }
    }

  }

  #rev-card2 {
    .card-logo {
      img {
        width: 25px;
      }
    }
  }

  #rev-card3 {
    .card-logo {
      img {
        width: 100px;
      }
    }

    margin-top: -23px;
  }

  #rev-card4 {
    .card-logo {
      img {
        width: 100px;
      }
    }
  }

  #rev-card5 {
    .card-logo {
      img {
        width: 50px;
      }
    }

    margin-top: -23px;
  }

  #rev-card6 {
    .card-logo {
      img {
        width: 60px;
      }
    }
  }
}

// Section-10
.moving-name {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
  overflow-x: hidden;
  margin: 0 -4rem;
  gap: 32px;
  position: relative;

  h1 {
    font-family: 'Gambetta', 'san-serif';
    font-size: 144px;
    line-height: 137px;
    font-weight: 100;
    color: rgb(218, 197, 167);
    position: absolute;
    opacity: 0.3;
    transition: all 2s ease;

    span {
      font-family: 'system-ui';
      font-weight: 100;
    }
  }

  #fade-img {
    display: block;
    width: 500px;
    mask-image: linear-gradient(to right, black 70%, transparent 100%),
      linear-gradient(to bottom, black 85%, transparent 100%),
      linear-gradient(to right bottom, black 58%, transparent 100%),
      linear-gradient(to top, black 58%, transparent 100%),
      linear-gradient(to left, black 78%, transparent 100%);

    mask-composite: intersect;

  }

  #h1-1 {
    left: -300px;
  }

  #h1-2 {
    right: -300px;
  }
}

// Section-11
.view-11 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 4rem;
  color: rgb(218, 197, 167);
  padding-top: 150px;

  .frame-1 {
    p {
      font-family: 'satoshi', 'san-serif';
      font-size: 48px;
      line-height: 60px;
      font-weight: 100;

      span {
        font-family: 'Gambetta', 'san-serif';
        font-size: 48px;
        line-height: 48px;
        font-weight: 100;
        letter-spacing: 1.5px;
      }
    }
  }

  .frame-2 {
    p {
      font-family: 'chillax', 'san-serif';
      font-size: 18px;
      line-height: 29px;
      font-weight: 100;
    }

    .links{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      padding-top: 15px;
      #social-logo{
        width: 45px;
        border: 1px solid #3c3832;
        background-color: #22201e;
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;
      }
    }
  }

}

// Section-12
.marquee-2 {
  padding: 100px 0 0 0;
  margin: 0 -4rem;
  overflow: hidden;
  position: relative;
  width: 99vw;

  .marquee-texts {
    overflow: hidden;
    position: relative;


    .texts {
      display: flex;
      width: max-content;
      animation: marquee2 22s linear infinite;
      will-change: scroll-position;
      background-color: rgb(34 32 31);
      border: 1px solid rgb(44 41 37);
      padding: 15px 0;
    }

    .texts-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 0 1.5rem;

      p {
        font-family: 'Satoshi', 'san-serif';
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 2px;
        color: rgb(218, 197, 167);
      }
    }
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

// Section-13
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(218, 197, 167);
  background-color: rgb(24 23 22);
  width: 99vw;
  margin: 0 -4rem;
  padding-top: 150px;
  gap: 20px;

  #f-p-1 {
    font-family: 'satoshi', 'san-serif';
    font-size: 13px;
    line-height: 16px;
  }

  h1 {
    font-family: 'satoshi', 'san-serif';
    font-size: 128px;
    line-height: 141px;
    font-weight: 100;
    text-align: center;

    span {
      font-family: 'gambetta', 'san-serif';
    }
  }

  #f-p-2 {
    font-family: 'chillax', 'san-serif';
    font-size: 20px;
    line-height: 32px;
    font-weight: 100;
    width: 30vw;
    text-align: center;
  }

  button {
    font-family: 'satoshi', 'san-serif';
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: #dac5a7;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    letter-spacing: 2px;

    svg {
      transition: all .4s ease;
      rotate: 225deg;
    }
  }

  button:hover {
    svg {
      rotate: 270deg;
    }
  }
}

// Section-14
.footer-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  width: 99vw;
  margin: 0 -4rem;
  padding-top: 200px;
  padding-left: 40px;
  background-color: rgb(24 23 22);
  ;
  color: rgb(218, 197, 167);

  #sec-head {
    font-family: 'satoshi', 'san-serif';
    font-size: 20px;
    line-height: 24px;
    font-weight: 100;
    padding-bottom: 30px;
    transition: all 0.3s ease-in-out;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
    gap: 20px;
    list-style-type: none;

    li {
      font-family: 'satoshi', 'san-serif';
      font-size: 13px;
      line-height: 16px;
      color: #8d7f6d;
      transition: all 0.2s ease-in-out;
    }
  }

  #sec-hand,
  li:hover {
    color: rgb(218 197 167);
    cursor: pointer;
  }

  .sec1 {
    #ssvg {
      width: 80px;
    }

    button {
      font-family: 'satoshi', 'san-serif';
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      display: flex;
      gap: 6px;
      align-items: center;
      background-color: #dac5a7;
      color: black;
      padding: 10px 20px;
      cursor: pointer;
      margin-top: 20px;
      border: none;
      border-radius: 3px;

      svg {
        transition: all .4s ease;
        rotate: 225deg;
      }
    }

    button:hover {
      svg {
        rotate: 270deg;
      }
    }
  }

  .sec1{


    #socialLink{
      
      font-family: 'Satoshi', 'san-serif';
      font-size: 13px;
      color: rgb(218 197 167);
      line-height: 16px;
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      text-decoration: none;
      
      #socialLogo{
        width: 45px;
        border: 1px solid #3c3832;
        background-color: #22201e;
        border-radius: 50%;
        padding: 8px;
      }
    }
  }

  p{
    font-family: 'Chillax', 'san-serif';
    font-size: 14px;
    font-weight: 100;
    line-height: 25px;
    color: rgb(218 197 167);
    padding: 20px 0 80px 0;
    a{
      color: rgb(218, 197, 167);
    }
  }
}

// Section-15
.lastBox{
  font-family: 'satoshi', 'san-serif';
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 12px;
  color: rgb(218, 197, 167);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 120px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: #22201e;
  border: 1px solid #3c3933;
  border-radius: 3px;
  padding: 7px 0;
  .dot{
    width: 7px;
    background-color: rgb(218, 197, 167);
    height: 7px;
    border: none;
    border-radius: 50%;
  }
}